## AdaBoosting, Gradientboosting, XGBoosting Regressor :

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams["figure.figsize"] = (9,5)
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)
pd.set_option('display.width', 1000)

In [2]:
df=pd.read_csv("car_dataset.csv")
df.head()

  Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0     ritz  2014           3.35           5.59       27000    Petrol      Dealer       Manual      0
1      sx4  2013           4.75           9.54       43000    Diesel      Dealer       Manual      0
2     ciaz  2017           7.25           9.85        6900    Petrol      Dealer       Manual      0
3  wagon r  2011           2.85           4.15        5200    Petrol      Dealer       Manual      0
4    swift  2014           4.60           6.87       42450    Diesel      Dealer       Manual      0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [4]:
df["vehicle_age"]=2021-df.Year

In [5]:
df.drop(columns=["Year"], inplace=True)

### Train test split and OrdinalEncoder :

In [6]:
X=df.drop("Selling_Price", axis=1)
y=df.Selling_Price

In [7]:
# tree base modellerde get dummy ile değil ordinal encoder ile çalışırız : 
from sklearn.preprocessing import OrdinalEncoder

cat = X.select_dtypes("object").columns
enc = OrdinalEncoder()
X[cat] = enc.fit_transform(X[cat])

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2, random_state=5)

### Default Modelling :

In [8]:
from sklearn.ensemble import AdaBoostRegressor

ada_model = AdaBoostRegressor(random_state=101)
ada_model.fit(X_train, y_train)

AdaBoostRegressor(random_state=101)

### Metrics :

In [9]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

def train_val(model, X_train, y_train, X_test, y_test):
    
    y_pred = model.predict(X_test)
    y_train_pred = model.predict(X_train)
    
    scores = {"train": {"R2" : r2_score(y_train, y_train_pred),
    "mae" : mean_absolute_error(y_train, y_train_pred),
    "mse" : mean_squared_error(y_train, y_train_pred),                          
    "rmse" : np.sqrt(mean_squared_error(y_train, y_train_pred))},
    
    "test": {"R2" : r2_score(y_test, y_pred),
    "mae" : mean_absolute_error(y_test, y_pred),
    "mse" : mean_squared_error(y_test, y_pred),
    "rmse" : np.sqrt(mean_squared_error(y_test, y_pred))}}
    
    return pd.DataFrame(scores)

In [10]:
train_val(ada_model, X_train, y_train, X_test, y_test)

         train      test
R2    0.967360  0.938860
mae   0.730070  0.920171
mse   0.830186  1.641058
rmse  0.911145  1.281038

### Cross Validate Control :

In [13]:
from sklearn.model_selection import cross_validate

model = AdaBoostRegressor(random_state=101)
scores = cross_validate(model, X_train, y_train, scoring=['r2', 
            'neg_mean_absolute_error','neg_mean_squared_error','neg_root_mean_squared_error'], cv =10)
pd.DataFrame(scores)
pd.DataFrame(scores).mean()[2:]

test_r2                             0.835971
test_neg_mean_absolute_error       -1.116024
test_neg_mean_squared_error        -4.898089
test_neg_root_mean_squared_error   -1.892615
dtype: float64

### Gridsearch for Adaboosting :

In [14]:
ada_model.get_params()

{'base_estimator': None,
 'learning_rate': 1.0,
 'loss': 'linear',
 'n_estimators': 50,
 'random_state': 101}

In [15]:
n_estimators = np.array([50, 100,150,200,250,300,350,400,450,500])
learning_rate = np.linspace(0.01,1,100)
loss = ["linear", "square"]

In [16]:
from sklearn.model_selection import GridSearchCV

param_grid = {"n_estimators":n_estimators,
              "learning_rate":learning_rate,
              "loss": loss
            }

model = AdaBoostRegressor(random_state=101)

grid_model = GridSearchCV(estimator=model,
                          param_grid=param_grid,
                          scoring='neg_root_mean_squared_error',
                          cv=10,
                          n_jobs = -1)

grid_model.fit(X_train,y_train)

GridSearchCV(cv=10, estimator=AdaBoostRegressor(random_state=101), n_jobs=-1,
             param_grid={'learning_rate': array([0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 , 0.11,
       0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21, 0.22,
       0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32, 0.33,
       0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43, 0.44,
       0.45, 0.46, 0.47, 0.48, 0.49...
       0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65, 0.66,
       0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77,
       0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88,
       0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99,
       1.  ]),
                         'loss': ['linear', 'square'],
                         'n_estimators': array([ 50, 100, 150, 200, 250, 300, 350, 400, 450, 500])},
             scoring='neg_root_mean_squared_error')

In [17]:
grid_model.best_params_

{'learning_rate': 0.7100000000000001, 'loss': 'linear', 'n_estimators': 150}

In [18]:
train_val(grid_model, X_train, y_train, X_test, y_test)

         train      test
R2    0.970821  0.935613
mae   0.729542  1.001615
mse   0.742142  1.728203
rmse  0.861476  1.314611