Ridge den farklı olarak targetı en az etkileyen futurenin katsayılarını 0 değerine yaklaştırır, bazılarını 0 yapar.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline
#%matplotlib notebook
plt.rcParams["figure.figsize"] = (10,6)
import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [2]:
df = pd.read_csv("Advertising.csv")
df.head()

       TV  radio  newspaper  sales
0 230.100 37.800     69.200 22.100
1  44.500 39.300     45.100 10.400
2  17.200 45.900     69.300  9.300
3 151.500 41.300     58.500 18.500
4 180.800 10.800     58.400 12.900

In [3]:
from sklearn.model_selection import train_test_split

X = df.drop("sales", axis=1)
y = df["sales"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 101)

In [4]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

def train_val(model, X_train, y_train, X_test, y_test):
    
    y_pred = model.predict(X_test)
    y_train_pred = model.predict(X_train)
    
    scores = {"train": {"R2" : r2_score(y_train, y_train_pred),
    "mae" : mean_absolute_error(y_train, y_train_pred),
    "mse" : mean_squared_error(y_train, y_train_pred),                          
    "rmse" : np.sqrt(mean_squared_error(y_train, y_train_pred))},
    
    "test": {"R2" : r2_score(y_test, y_pred),
    "mae" : mean_absolute_error(y_test, y_pred),
    "mse" : mean_squared_error(y_test, y_pred),
    "rmse" : np.sqrt(mean_squared_error(y_test, y_pred))}}
    
    return pd.DataFrame(scores)

In [5]:
from sklearn.linear_model import Lasso, LassoCV

In [6]:
lasso_model = Lasso(random_state= 101)
lasso_model.fit(X_train,y_train)
train_val(lasso_model, X_train, y_train, X_test, y_test)

      train  test
R2    0.887 0.931
mae   1.296 1.116
mse   2.974 2.051
rmse  1.724 1.432

In [7]:
lambda_value = 10**np.linspace(10,-2,100)*0.5

In [13]:
lasso_model = LassoCV(alphas= lambda_value, cv = 10, normalize=True)
lasso_model.fit(X_train,y_train)
train_val(lasso_model, X_train, y_train, X_test, y_test)

      train  test
R2    0.887 0.930
mae   1.295 1.125
mse   2.982 2.081
rmse  1.727 1.443

In [14]:
lasso_model.alpha_

0.006609705742330144